.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* Shared style */
.text-primary {
    color: #FD6E0A;
}

.dark-2 {
    color: #474747;
}

.dark-3 {
    color: #757575;
}

.btn-primary {
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}

.secondary-bg {
    background-color: #FFF8F3;
}

/* header */
.header {
    background-image: url('../assets/developer.png'), url('../assets/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* Nav styles */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 51px;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
}


/* Banner styles */
.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}

.banner-content {
    max-width: 580px;
}

.banner-greetings {
    font-size: 45px;
    font-weight: 600;
}

.banner-title {
    font-weight: bold;
    font-size: 85px;
}

.banner-description {
    margin-top: 5px;
}

.banner-profil-pic {
    width: 580px;
}

.contact-btn {
    margin-left: 30px;
    background-color: #FFF8F3;
    font-size: 20px;
    font-weight: bold;
    color: #FD6E0A;
    padding: 18px 35px;
    border-radius: 5px;
    /* border: none; */
    border: 1px solid #FD6E0A;
}



/* About section */
.about-section {
    margin: 130px 230px 130px 230px;
    background-color: #FFF8F3;
    text-align: center;
    padding: 130px 150px 130px 150px;
    border-radius: 10px;
}

.about {
    border: 1px solid black;
    background-color: white;
    padding: 5px;
}

.about-me {
    font-weight: bold;
    font-size: 35px;
}

.personal-information {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}


/* What-i-do section */
.what-i-do-section {
    margin: 0px 230px 130px 230px;
    text-align: center;
}

.what-i-do{
    max-width: 909px;
    margin: 0 auto;
}

.cards-section{
    margin-top: 50px;
    display: flex;
    gap: 24px;
    justify-content: space-evenly;
}

.card{
    text-align: left;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
}


.resume{
    margin: 0px 230px 130px 230px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.resume-title{
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

.resume-section{
    display: flex;
    gap: 35px;
}

.college-name .company-name{
    font-weight: 900;
    font-size: 20px;
}

.college-description .company-description{
    font-weight: 800;
    font-size: 16px;
}

.btn-cv{
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

.footer{
    display: flex;
    padding: 110px 230px;
    gap: 110px;
}

footer input[type="text"], footer input[type="email"], footer textarea{
    height: 40px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
    justify-content: center;
    font-size: 15px;
}

.footer-column{
    width: 50%;
}

.footer-btn {
    background-color: #FD6E0A;
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
}